.crane-header {
    width: 100%;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 60px;
    font-size: 43px;
    color: white;
    font-family: 'Roboto Slab',Georgia,"Times New Roman",serif;
    background-image: url("/mentor13/imagenes/foto-mentor-naranja.jpg");
    background-repeat: no-repeat, repeat;
    background-size: cover;
}



.crane-form-campo {

    margin-bottom: 30px;
    width: 23%;
    height: 38px;
}

.crane-main {
    
    padding:130px;
    text-align: center;
    background-image: url("/mentor13/imagenes/fondo-siluetas-mentor-v2.png");
    background-position:center;
    height:400px;
      
}




.crane-label {
    font-family: 'Roboto Slab',Georgia,"Times New Roman",serif !important;
}

[type=submit], button {

    border-width: 0px!important;
    border-radius: 12px;
    letter-spacing: 0px;
    font-size: 21px;
    font-family: 'Roboto',Helvetica,Arial,Lucida,sans-serif!important;
    background-color: #F99232;
    padding: 10px 24px;
    color: white;
}

.crane-input {
    margin-bottom: 30px;
    width: 23%;
    height: 38px;
    margin-left: 10px;
}


